<!-- This is the partial view for home page -->
<div id="page-body">
    <img id="home-image" src="{{bannerImageUrl}}" alt="home banner image" />
    <div id="home-buttonbar">
        <ul>
            <li><a href="" ng-click="donateClicked()">Donate!</a></li>
            <li><a href="" ng-click="becomeACamperClicked()">Become a Camper!</a></li>
            <li><a href="" ng-click="becomeAVolunteerClicked()">Volunteer!</a></li>
        </ul>
    </div>

    <div class="news-title-container">
        <div class="news-bullet-left">&#9679;</div>
        <div class="news-heading">Some Good News</div>
        <div class="news-bullet-right">&#9679;</div>
    </div>
    <div class="news-loading-indicator" ng-show="!newsItemsLoaded">
        <img src="/Content/images/layout/goodtimes-loading.gif" alt="" />
        <span>Loading News...</span>
    </div>

    <div id="home-news-articles-container">
        <div class="news-row">
            <div class="news-cell" ng-repeat="newsItem in newsItems"><img src="{{newsItem.EventImageSmall}}"></div>
        </div>

        <div class="news-row">
            <div class="news-cell" ng-repeat="newsItem in newsItems"><h3 class="news-title">{{newsItem.Title}}</h3></div>
        </div>

        <div class="news-row">
            <div class="news-cell" ng-repeat="newsItem in newsItems"><p class="news-description">{{newsItem.ShortDescription}}</p></div>
        </div>
    </div>

    <div id="home-sponsors-container">
        <div id="caption">We <span id="home-heart">&hearts;</span> Our Sponsors</div>
        <div id="imagebar"><img ng-repeat="sponsorItem in sponsorsList" src="{{sponsorItem.SponsorImageUrlSmall}}" alt="" /></div>
    </div>
</div>

