<div id="page-body">
    <img id="home-image" src="{{bannerImageUrl}}" alt="home banner image" />

    <div ng-include="'/PartialViews/Who/WhoNavBar.html'"></div>

    <div class="news-title-container">
        <div class="news-bullet-left">&#9679;</div>
        <div class="news-heading">Donations</div>
        <div class="news-bullet-right">&#9679;</div>
    </div>
    <h3 class="h3-centered">Our Top Sponsors</h3>
    <div id="donate-sponsors-container">
        <img src="/Content/images/layout/donor-banner1.png" alt="" />
    </div>
    <h3 class="h3-centered">Donations 'In Honor Of'</h3>
    <table id="donors-table">
        <tr ng-repeat="donor in getDonorsList">
            <td>{{donor.Giver}}</td>
            <td>{{donor.InHonorOf}}</td>
        </tr>
    </table>

    <h3 class="h3-centered">We Always Welcome Donations Big and Small</h3>
    <p class="p-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia neque quis nibh fermentum, ut iaculis orci gravida. Quisque dapibus eros ut tellus vehicula, at cursus urna mattis. Integer eu velit magna. Integer sodales nibh et neque cursus tempus. Proin laoreet est et nisi gravida tempor ut vitae lacus. Donec vitae eros vel orci porta mollis vitae eget metus. Nunc eleifend tempus purus, ut sollicitudin nibh hendrerit sit amet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc placerat sollicitudin semper. Quisque ut odio tincidunt, suscipit sem sed, pulvinar urna. Nunc quam felis, aliquet sed ligula in, vulputate dapibus mauris. Pellentesque at erat ac tortor porttitor fringilla. Nunc id tellus ut mi mollis consequat in dapibus magna. Aenean tristique dignissim sem vel aliquet.</p>

    <a class="donors-donate" href="" ng-click="donateClicked()">DONATE</a>
</div>