<div id="page-body">
    <img id="home-image" src="{{bannerImageUrl}}" alt="home banner image" />
    <div id="who-buttonbar">
        <ul>
            <li><a ng-class="visibleTab0.a" href="" ng-click="historyClicked()">History</a><div ng-class="visibleTab0.d"></div></li>
            <li><a ng-class="visibleTab1.a" href="" ng-click="staffAndBoardClicked()">Staff and Board</a><div ng-class="visibleTab1.d"></div></li>
            <li><a ng-class="visibleTab2.a" href="" ng-click="volunteersClicked()">Volunteers</a><div ng-class="visibleTab2.d"></div></li>
            <li><a ng-class="visibleTab3.a" href="" ng-click="donorsClicked()">Donors</a><div ng-class="visibleTab3.d"></div></li>
        </ul>
    </div>
    Staff
</div>