<div class="subnav-buttonbar">
    <ul>
        <li><a ng-class="{'nav-a-selected': activeTab == 'history', 'nav-a' : activeTab != 'history'}" href="" ng-click="historyClicked()">History</a></li>
        <li><a ng-class="{'nav-a-selected': activeTab == 'staff', 'nav-a' : activeTab != 'staff'}" href="" ng-click="staffAndBoardClicked()">Staff and Board</a></li>
        <li><a ng-class="{'nav-a-selected': activeTab == 'volunteers', 'nav-a' : activeTab != 'volunteers'}" href="" ng-click="volunteersClicked()">Volunteers</a></li>
        <li><a ng-class="{'nav-a-selected': activeTab == 'donors', 'nav-a' : activeTab != 'donors'}" href="" ng-click="donorsClicked()">Donors</a></li>
    </ul>
</div>
