<!--TODO: this is showing the randomly selected banner image. Put a
    goodtimes specific image here if/as desired -->
<img id="home-image" src="{{bannerImageUrl}}" alt="home banner image" />

<div class="news-title-container">
    <div class="news-bullet-left">&#9679;</div>
    <div class="news-heading">Camp Goodtimes</div>
    <div class="news-bullet-right">&#9679;</div>
</div>

<div id="goodtimes-page">
    <p>Each week of camp hosts over 100 kids through a week long of fun and escape. Children will learn archery, do arts and crafts, go canoe-ing and engage in normal camp experiences. Did we mention the whipped cream fight?</p>
</div>
<div id="goodtimes-page-buttons">
    <a class="ColorButtonFirst" href="" ng-click="goodtimesBecomeACamper()">Become a camper!</a>
    <a class="ColorButtonSecond" href="" ng-click="goodtimesVolunteer()">Volunteer!</a>
</div>

<div class="goodtimes-page-gray-banner">
    <div class="inner-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nibh quis magna luctus pellentesque. Mauris sit amet tempus odio. Nullam et iaculis justo. Duis pulvinar, quam at eleifend fermentum, massa sapien varius purus, nec blandit lorem nulla sed enim. - Henry the Camper</p>
    </div>
</div>

<table id="goodtimes-page-table">
    <tr><th class="thspanner"></th><th>WHO</th><th>WHEN</th><th>WHERE</th><th class="thspanner"></th></tr>
    <tr><td class="tdspanner"></td><td>Children Ages 7-17</td><td>June Camp<br />June 23rd-June 29th</td><td>Camp Burton,<br />Vashon Island, WA</td><td class="tdspanner"></td></tr>
    <tr class="padded-row"><td class="tdspanner"></td><td></td><td>July Camp<br />July 21st - July 27th</td><td></td><td class="tdspanner"></td></tr>
</table>

<div id="goodtimes-page">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a nibh quis magna luctus pellentesque. Mauris sit amet tempus odio. Nullam et iaculis justo. Duis pulvinar, quam at eleifend fermentum, massa sapien varius purus, nec blandit lorem nulla sed enim.</p>
</div>
