@import "constants.less";

.BodyFont {
    font-family: @defaultFontFamily;
    font-style: @defaultFontStyle;
    font-weight: @defaultFontWeight;
    font-size: @defaultFontSize;
    color: @textNotBoldColor;
}

.HeadingFonts(@fontSize) {
    font-family: @defaultFontFamily;
    font-weight: @boldFontWeight;
    font-style: @defaultFontStyle;
    font-size: @fontSize;
    color: @boldFontColor;
}

/* Some default elements */
h1 {
    .HeadingFonts(36px);
}

h2 {
    .HeadingFonts(27px);
}

h3 {
    .HeadingFonts(22px);
}

.h3-centered {
    .HeadingFonts(22px);
    text-align: center;
}

.p-centered {
    width: 80%;
    text-align: center;
    margin: 30px auto;
}

.spacer-50 {
    height: 50px;
}

body {
    .BodyFont;
    margin: 0;
}

#content-container {
    position: relative;
    top: -70px;
}

#page-body {
    width: 1280px;
    margin: auto;
}

.ButtonBarNavLinks {
    font-weight: @boldFontWeight;
    font-size: 18pt;
    color: #fff;
}

#home-image {
    display: block;
}

#home-heart {
    color: red;
    font-size: 150%;
}

#home-sponsors-container {
    height: 200px;
    margin-top: 60px;
    color: white;
    text-align: center;
    background-color: @colorThirdPrimary;

    #caption {
        line-height: 100px;
    }

    #sponsorbar {
        line-height: 100px;
    }
}

#home-buttonbar {
    background-color: @grayHeaderBanner;
    text-align: center;
    height: 70px;
    position: relative;
    top: -70px;
    z-index: 100;
    opacity: .65;
    -moz-opacity: .65;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;

        li {
            display: inline;
            line-height: 70px;
            vertical-align: middle;

            a {
                .ButtonBarNavLinks;
                display: inline;
                text-decoration: none;
                padding-left: 20px;
                padding-right: 20px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                padding-top: 4px;
                padding-bottom: 5px;
            }

                a:hover {
                    background-color: @grayLight;
                    -moz-opacity: .9;
                    opacity: .9;
                }
        }
    }
}


#who-buttonbar {
    background-color: @grayHeaderBanner;
    text-align: center;
    height: 70px;
    position: relative;
    top: -70px;
    z-index: 100;
    opacity: .65;
    -moz-opacity: .65;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;

        li {
            display: inline-block;
            margin-top: 25px;
            vertical-align: bottom;

            .nav-a {
                .ButtonBarNavLinks;
                display: inline;
                text-decoration: none;
                padding-left: 20px;
                padding-right: 20px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                padding-top: 4px;
                padding-bottom: 18px;
            }

            .nav-a-selected {
                font-weight: @boldFontWeight;
                color: @grayDark;
                font-size: 18pt;
                background-color: @grayLight;
                display: inline;
                text-decoration: none;
                padding-left: 20px;
                padding-right: 20px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                padding-top: 4px;
                padding-bottom: 18px;
            }

            a:hover {
                background-color: @grayLight;
                -moz-opacity: .9;
                opacity: .9;
            }
        }
    }
}


#home-news-articles-container {
    display: table;
    width: 80%;
    margin: auto;
}

.news-row {
    display: table-row;
}

.news-cell {
    width: 300px;
    display: table-cell;
}

.news-title {
    width: 300px;
    margin-bottom: 0;
    margin-top: 30px;
}

.news-description {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 32px;
    width: 300px;
}

.news-title-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.news-heading {
    display: inline;
    .HeadingFonts(36px);
}

.news-bullet-left {
    position: relative;
    top: -5px;
    left: -10px;
    display: inline;
    color: @colorThirdPrimary;
}

.news-bullet-right {
    position: relative;
    top: -5px;
    left: 10px;
    display: inline;
    color: @colorFirstPrimary;
}

.news-loading-indicator {
    width: 100px;
    margin: 30px auto;
    text-align: center;
}

.donors-donate {
    color: #FFF;
    background-color: @colorThirdPrimary;
    font-weight: @boldFontWeight;
    font-size: 18pt;
    margin: 30px auto;
    display: block;
    width: 180px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 5px;
}

    .donors-donate:visited {
        color: #FFF;
        text-decoration: none;
    }

#donate-sponsors-container {
    height: 200px;
    margin-top: 60px;
    color: white;
    text-align: center;
    background-color: @colorThirdPrimary;
    line-height: 200px;
    vertical-align: middle;

    img {
        position: relative;
        top: 15px;
    }
}

#donors-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;

    tr {
        vertical-align: top;
        text-align: center;
    }

    td {
        width: 50%;
        padding: 5px;
    }

    tr:nth-child(odd) {
        background-color: @grayLight;
    }
}

.employee-row {
    width: 80%;
    margin: auto;
    text-align: center;

    .employee-element {
        display: inline-block;
        width: 302px;
        height: 350px;
        background-color: @grayLight;
        overflow: hidden;
        margin-left: 9px;
        margin-right: 9px;
    }

    .employee-caption {
        background: url("/Content/images/layout/transparentBackground.png");
        position: relative;
        top: -65px;
        z-index: 1000;
        height: 65px;

        .name {
            font-weight: bold;
            font-size: 20px;
            color: #fff;
        }

        .title {
            font-weight: bold;
            font-size: 13px;
            color: #fff;
            opacity: .65;
        }
    }

    img {
        height: 350px;
        max-width: 302px;
        vertical-align: middle;
    }
}

#camps-container {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;

    .camp-info-container {
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 60px;

        img {
            width: 600px;
            vertical-align: top;
        }

        .img-left {
            margin-right: 20px;
        }

        .img-right {
            margin-left: 20px;
        }

        .camp-title-container {
            display: inline-block;
            width: 40%;
            text-align: left;

            .attendance {
                margin: 0;
                padding: 0;
            }

            a {
                text-decoration: none;
                background-color: @colorFourthPrimary;
                padding: 15px 30px;
                color: #fff;
            }
        }
    }
}

#events-container {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;

    .event-info-container {
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 60px;

        img {
            width: 600px;
            vertical-align: top;
        }

        .img-left {
            margin-right: 20px;
        }

        .img-right {
            margin-left: 20px;
        }

        .event-title-container {
            display: inline-block;
            width: 40%;
            text-align: left;

            .attendance {
                margin: 0;
                padding: 0;
            }

            a {
                text-decoration: none;
                background-color: @colorFourthPrimary;
                padding: 15px 30px;
                color: #fff;
            }
        }
    }
}

#scholarships-content {
    a {
        text-decoration: none;
        background-color: @colorFourthPrimary;
        padding: 15px 30px;
        color: #fff;
    }
    .anchor-aligner
    {
        width:100%;
        text-align:center;
        margin-top:30px;
        margin-bottom:30px;
    }
}
