/*Font defaults*/
/* Font colors */
/* Grays */
/* General Colors */
/* Link Colors */
.BodyFont {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #a6b1cc;
}
/* Some default elements */
h1 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #474b59;
}
h2 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 27px;
  color: #474b59;
}
h3 {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #474b59;
}
.h3-centered {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #474b59;
  text-align: center;
}
.p-centered {
  width: 80%;
  text-align: center;
  margin: 30px auto;
}
body {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #a6b1cc;
  margin: 0;
}
#content-container {
  position: relative;
  top: -70px;
}
#page-body {
  width: 1280px;
  margin: auto;
}
.ButtonBarNavLinks {
  font-weight: 700;
  font-size: 18pt;
  color: #fff;
}
#home-image {
  display: block;
}
#home-heart {
  color: red;
  font-size: 150%;
}
#home-sponsors-container {
  height: 200px;
  margin-top: 60px;
  color: white;
  text-align: center;
  background-color: #ffc91d;
}
#home-sponsors-container #caption {
  line-height: 100px;
}
#home-sponsors-container #sponsorbar {
  line-height: 100px;
}
#home-buttonbar {
  background-color: #adbcbc;
  text-align: center;
  height: 70px;
  position: relative;
  top: -70px;
  z-index: 100;
  opacity: .65;
  -moz-opacity: .65;
}
#home-buttonbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
#home-buttonbar ul li {
  display: inline;
  line-height: 70px;
  vertical-align: middle;
}
#home-buttonbar ul li a {
  font-weight: 700;
  font-size: 18pt;
  color: #fff;
  display: inline;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 5px;
}
#home-buttonbar ul li a:hover {
  background-color: #eaeff9;
  -moz-opacity: .9;
  opacity: .9;
}
#who-buttonbar {
  background-color: #adbcbc;
  text-align: center;
  height: 70px;
  position: relative;
  top: -70px;
  z-index: 100;
  opacity: .65;
  -moz-opacity: .65;
}
#who-buttonbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
#who-buttonbar ul li {
  display: inline-block;
  margin-top: 25px;
  vertical-align: bottom;
}
#who-buttonbar ul li .nav-a {
  font-weight: 700;
  font-size: 18pt;
  color: #fff;
  display: inline;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 18px;
}
#who-buttonbar ul li .nav-a-selected {
  font-weight: 700;
  color: #474b59;
  font-size: 18pt;
  background-color: #eaeff9;
  display: inline;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 18px;
}
#who-buttonbar ul li a:hover {
  background-color: #eaeff9;
  -moz-opacity: .9;
  opacity: .9;
}
#home-news-articles-container {
  display: table;
  width: 80%;
  margin: auto;
}
.news-row {
  display: table-row;
}
.news-cell {
  width: 300px;
  display: table-cell;
}
.news-title {
  width: 300px;
  margin-bottom: 0;
  margin-top: 30px;
}
.news-description {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 32px;
  width: 300px;
}
.news-title-container {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.news-heading {
  display: inline;
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  color: #474b59;
}
.news-bullet-left {
  position: relative;
  top: -5px;
  left: -10px;
  display: inline;
  color: #ffc91d;
}
.news-bullet-right {
  position: relative;
  top: -5px;
  left: 10px;
  display: inline;
  color: #df334b;
}
.news-loading-indicator {
  width: 100px;
  margin: 30px auto;
  text-align: center;
}
.donors-donate {
  color: #FFF;
  background-color: #ffc91d;
  font-weight: 700;
  font-size: 18pt;
  margin: 30px auto;
  display: block;
  width: 180px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 5px;
}
.donors-donate:visited {
  color: #FFF;
  text-decoration: none;
}
#donate-sponsors-container {
  height: 200px;
  margin-top: 60px;
  color: white;
  text-align: center;
  background-color: #ffc91d;
  line-height: 200px;
  vertical-align: middle;
}
#donate-sponsors-container img {
  position: relative;
  top: 15px;
}
#donors-table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
#donors-table tr {
  vertical-align: top;
}
#donors-table td {
  width: 50%;
  padding: 5px;
}
#donors-table tr:nth-child(odd) {
  background-color: #eaeff9;
}
/*# sourceMappingURL=site.css.map */