<div class="container" ng-controller="newsArticleController">
    <form name='editNewForm' novalidate>
        <div class="form-group" ng-if="article.id">
            <label for="news-title">Id</label>
            <input type='text' readonly class="form-control" id='news-title' ng-model="article.title" placeholder='article title'>
        </div>
        <div class="form-group">
            <label for="news-title">Title</label>
            <input type='text' class="form-control" id='news-title' ng-model="article.title" placeholder='article title'>
        </div>
        <div class="form-group">
            <label for="news-author">Author</label>
            <input type="text" class="form-control" id="news-author" ng-model="article.author" placeholder='enter author name' required />
        </div>
        <div class="form-group">
            <label for="news-shortdescription">Short Description</label>
            <input type="text" class="form-control" id="news-shortdescription" ng-model="article.shortDescription" placeholder='enter short description' required />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="article.visibleonsite" required />Is Visible on Site
            </label>
        </div>
        <div class="form-group">
            <label for="news-order">Order</label>
            <input type="text" class="form-control" id="news-order" ng-model="article.order" placeholder='The order (starting at 0) this article should appear on the site' />
        </div>
        <div class="form-group">
            <label for="news-fullarticle">Full article text</label>
            <textarea class="form-control" id="news-fullarticle" ng-model="article.fullarticle" placeholder='enter full article text' />
        </div>
        <div class="form-group">
            <label for="news-smallimage">Small Image</label>
            <input type="text" class="form-control" id="news-smallimage" ng-model="article.smallimage" placeholder='enter site path to small image' ng-model-options="{ debounce: 1000 }" />
            <img ng-if="article.smallimage" ng-src="{{article.smallimage}}" />
        </div>
        <div class="form-group">
            <label for="news-largeimage">large Image</label>
            <input type="text" class="form-control" id="news-largeimage" ng-model="article.largeimage" placeholder='enter site path to large image' ng-model-options="{ debounce: 1000 }" />
            <img ng-if="article.largeimage" ng-src="{{article.largeimage}}" />
        </div>
        <button type="submit" class="btn btn-default" ng-click="submitArticle(article)">submit</button>
        <button type="submit" class="btn btn-default" ng-click="cancelEdit()">cancel</button>
        <button type="submit" class="btn btn-default" ng-click="editDone()">done</button>
    </form>
</div>