<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CampDirectorNewsItemsRssFeed" value="https://campgoodtimes-public.sharepoint.com/_layouts/15/listfeed.aspx?List=%7BD999DFB0%2DF59B%2D4D09%2D896C%2D96FCBF6DC86F%7D&amp;Source=https%3A%2F%2Fcampgoodtimes%2Dpublic%2Esharepoint%2Ecom%2FLists%2FNews%2520From%2520the%2520Director%2FAllItems%2Easpx"/>
    <add key="CampEventsRssFeed" value="https://campgoodtimes-public.sharepoint.com/_layouts/15/listfeed.aspx?List=%7B016C99B2-3DCB-4BFA-911F-052C4AB462A9%7D&amp;Source=https%3A%2F%2Fcampgoodtimes-public%2Esharepoint%2Ecom%2FLists%2FGoodTimes%2520Website%2520Events%2FAllItems%2Easpx"/>
    <add key="WebsiteSponsors" value="https://campgoodtimes-public.sharepoint.com/_layouts/15/listfeed.aspx?List=%7B89A63FEC%2DE329%2D48CE%2D9557%2DDB1FBFC2DCEE%7D&amp;Source=https%3A%2F%2Fcampgoodtimes%2Dpublic%2Esharepoint%2Ecom%2FLists%2FWebsite%2520Sponsors%2FAllItems%2Easpx"/>
  </appSettings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
            <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
        </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>