<div id="page-body">
    <img id="home-image" src="{{bannerImageUrl}}" alt="home banner image" />

    <div ng-include="'/PartialViews/What/WhatNavBar.html'"></div>
    <div class="news-title-container">
        <div class="news-bullet-left">&#9679;</div>
        <div class="news-heading">Scholarships</div>
        <div class="news-bullet-right">&#9679;</div>
    </div>
    <div id="scholarships-content">
        <p class="p-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue purus eget libero facilisis, sed vestibulum erat condimentum. Cras ut sodales elit. Ut luctus condimentum dictum. Donec ut nisi id lectus fermentum suscipit. Integer et elit sagittis, facilisis diam at, rhoncus nibh. Mauris at eleifend justo, et placerat libero. Maecenas posuere magna nec tellus tincidunt tempus ut quis lacus. Cras congue, diam vitae congue tempor, purus arcu gravida nulla, eget viverra sapien tortor vel ipsum.</p>
        <div class="anchor-aligner">
            <a href="" ng-click="learnMoreClicked('scolarhips')">Download Application</a>
        </div>
        <p class="p-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue purus eget libero facilisis, sed vestibulum erat condimentum. Cras ut sodales elit. Ut luctus condimentum dictum. Donec ut nisi id lectus fermentum suscipit. Integer et elit sagittis, facilisis diam at, rhoncus nibh. Mauris at eleifend justo, et placerat libero. Maecenas posuere magna nec tellus tincidunt tempus ut quis lacus. Cras congue, diam vitae congue tempor, purus arcu gravida nulla, eget viverra sapien tortor vel ipsum.</p>
        <div class="anchor-aligner">
            <a href="" ng-click="learnMoreClicked('scolarhips')">Download Application</a>
        </div>
</div>
