<div class="subnav-buttonbar">
    <ul>
        <li><a ng-class="{'nav-a-selected': activeTab == 'camps', 'nav-a' : activeTab != 'camps'}" href="" ng-click="campsClicked()">Camps</a></li>
        <li><a ng-class="{'nav-a-selected': activeTab == 'events', 'nav-a' : activeTab != 'events'}" href="" ng-click="eventsClicked()">Events</a></li>
        <li><a ng-class="{'nav-a-selected': activeTab == 'scholarships', 'nav-a' : activeTab != 'scholarships'}" href="" ng-click="scholarshipsClicked()">Scholarships</a></li>
    </ul>
</div>
